@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: hsl(183, 100%, 15%);
    z-index: 99;
    text-align: center;
    padding: 10px 150px;
}

p {
    color:rgb(177, 177, 177);
}

a {

    color:rgb(177, 177, 177);
}